# Read the CSV and create vectors for cant and gauge columns

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("export_wcant_L50A_A_40_0_42_0 .csv")

In [4]:
data.describe()

,ID,Measure,Is latest?,MEF_ID,cant,gauge
count,7.468000e+03,7468.000000,0.0,7468.0,7468.000000,7468.000000
mean,7.443571e+08,23816.143854,NaN,48465.0,-7.614500,1435.801552
std,2.155970e+03,571.749651,NaN,0.0,1.403067,1.061178
min,7.443534e+08,22772.100000,NaN,48465.0,-13.208000,1432.090000
25%,7.443552e+08,23330.825000,NaN,48465.0,-8.334960,1435.070000
50%,7.443571e+08,23841.950000,NaN,48465.0,-7.534180,1435.720000
75%,7.443590e+08,24308.750000,NaN,48465.0,-6.625980,1436.460000
max,7.443608e+08,24773.500000,NaN,48465.0,-3.227540,1439.970000

In [5]:
data.dtypes

ID                    int64
Measure             float64
Measurement date     object
Points               object
Is latest?          float64
MEF_ID                int64
cant                float64
gauge               float64
dtype: object

In [11]:
cants = data.cant.values
gauge = data.gauge.values

## Mean of cant and gauge

In [13]:
mean_cant = np.average(cants)
mean_gauge = np.average(gauge)

print("Mean of cant: {}".format(mean_cant))
print("Mean of gauge: {}".format(mean_gauge))

Mean of cant: -7.614500358864489
Mean of gauge: 1435.8015519550079

## Transform points int cordonates

In [14]:
data.Points.head()

0    [1975,1975,1966,1970,1977,1976,1983,2006,2000,...
1    [1959,1952,1954,1961,1965,1965,1963,1963,1962,...
2    [1980,1972,1990,2008,2044,2006,2003,2000,1998,...
3    [0,1944,1948,1946,1950,1950,1954,1951,1955,196...
4    [0,1960,1987,1984,2017,1995,1989,1999,1993,199...
Name: Points, dtype: object

In [15]:
def tranform_str_list(arr):
    """
    A function t transform a string in a list of int
    :param arr: The string
    :return:
    """
    str_list = arr[1:-1]
    ints = [int(x) for x in str_list.split(",")]
    return ints

In [17]:
data["coords"] = data["Points"].apply(tranform_str_list)

In [25]:
test = data.iloc[0] # verify that the apply function worked
type(test.coords)

list

## Average measured distance per row

In [26]:
data['avg_distance'] = data['coords'].apply(np.mean)

In [27]:
test = data.iloc[0]
print(test.avg_distance)

6355.556443556444

## Average measured distance without zeros per row

In [28]:
data['avg_distance_without_zeros'] = data['coords'].apply(lambda x: np.mean(np.nonzero(x)))

In [29]:
test = data.iloc[0]
print(test.avg_distance_without_zeros)

499.19701492537314

## Average for the whole cloud

In [30]:
final_avg = data['avg_distance_without_zeros'].mean()
print("The average measured distance for the whole cloud, without counting the zeros is {}".format(final_avg))

The average measured distance for the whole cloud, without counting the zeros is 497.4539933175368

## Translate the distances to x, y, z

In [31]:
data.head()

,ID,Measure,Measurement date,Points,Is latest?,MEF_ID,cant,gauge,coords,avg_distance,avg_distance_without_zeros
0,744355205,23325.2,2017-04-12 06:56:05,"[1975,1975,1966,1970,1977,1976,1983,2006,2000,...",NaN,48465,-8.55957,1435.16,"[1975, 1975, 1966, 1970, 1977, 1976, 1983, 200...",6355.556444,499.197015
1,744355206,23325.6,2017-04-12 06:56:05,"[1959,1952,1954,1961,1965,1965,1963,1963,1962,...",NaN,48465,-8.48633,1435.07,"[1959, 1952, 1954, 1961, 1965, 1965, 1963, 196...",6447.606394,500.865185
2,744355207,23325.9,2017-04-12 06:56:05,"[1980,1972,1990,2008,2044,2006,2003,2000,1998,...",NaN,48465,-8.44238,1435.06,"[1980, 1972, 1990, 2008, 2044, 2006, 2003, 200...",6336.035964,505.391952
3,744355208,23326.2,2017-04-12 06:56:05,"[0,1944,1948,1946,1950,1950,1954,1951,1955,196...",NaN,48465,-8.38867,1435.03,"[0, 1944, 1948, 1946, 1950, 1950, 1954, 1951, ...",6263.323676,506.212575
4,744355209,23326.6,2017-04-12 06:56:05,"[0,1960,1987,1984,2017,1995,1989,1999,1993,199...",NaN,48465,-8.21777,1434.84,"[0, 1960, 1987, 1984, 2017, 1995, 1989, 1999, ...",6572.953047,505.317647