In [1]:
import psycopg2

In [7]:
connection = psycopg2.connect(user="dej",
                                  password="dej",
                                  host="postgres-server",
                                  port="5432",
                                  database="dej")

In [8]:
print('hello')

hello

In [9]:
cursor = connection.cursor()

# Insert in persons

In [10]:
query = """ INSERT INTO persons (first_name, last_name) VALUES (%s,%s)"""
records = [('mathieu', 'Monet'),('Romain', 'Peret')]

for record in records:
    cursor.execute(query, record)

connection.commit()
count = cursor.rowcount
print(count, "Record inserted successfully into persons table")

1 Record inserted successfully into persons table

# Insert into Albums

In [11]:
albums_records = [('In the Aeroplane Over The Sea', 'Neutral Milk Hotel'),
                 ('Cyberpunk', 'Billy Idol'),
                 ('Bruce Springsteen ', 'The Ghost of Tom Joad'),
                 ('Diamond Dogs', 'David Bowie'),
                 ('Haunted', 'Poe')]

In [12]:
query = """ INSERT INTO albums (title, author) VALUES (%s,%s)"""
for record in albums_records:
    cursor.execute(query, record)
connection.commit()

# Insertion of copies

In [16]:
connection.commit()

In [17]:
from random import randint
for _ in range(30):
    query = """ INSERT INTO copies (album_id, owner_id) VALUES (%s,%s)"""
    record = (randint(1, 5), randint(1,2))
    cursor.execute(query, record)
connection.commit()

# Insertion of loans

In [18]:
from datetime import datetime

In [19]:
for _ in range(60):
    copy_id = randint(2, 31)
    person_id = randint(1, 2)
    
    start_day = randint(1, 28)
    start_month = randint(1, 12)
    start_year = randint(2019, 2021)
    
    end_day = randint(1, 28)
    end_month = randint(1, 12)
    end_year = randint(2019, 2021)
    while datetime(start_year, start_month, start_day) > datetime(end_year, end_month, end_day):
        start_day = randint(1, 28)
        start_month = randint(1, 12)
        start_year = randint(2019, 2021)
        end_day = randint(1, 28)
        end_month = randint(1, 12)
        end_year = randint(2019, 2021)
    
    query = """ INSERT INTO loans (copy_id, person_id, start_date, end_date) VALUES (%s,%s,%s,%s)"""
    record = (copy_id, person_id, str(datetime(start_year, start_month, start_day)), str(datetime(end_year, end_month, end_day)) )
    cursor.execute(query, record)
connection.commit()